.root {
    min-width: 200px;
    background: "var(--mantine-color-gray-light)";
}

.header {
    min-width: 200px;
}

.navbar {
    max-width: 250px;
}

.drawer_margin_top {
    margin-top: calc(var(--app-shell-header-height, 0px) + (0.025rem * 1));
}
