/*
*   tailwind base is messing some of mantine stylings,
*   @layer ensures that mantine styles are applied last
*/
@layer tw_base, mantine; /* defines layer import order */

@import "@mantine/core/styles.layer.css";
@import "@mantine/dates/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";
@import "@mantine/code-highlight/styles.layer.css";
@import "@mantine/tiptap/styles.layer.css";
@import "@mantine/dropzone/styles.layer.css";
@import "@mantine/carousel/styles.layer.css";
@import "@mantine/spotlight/styles.layer.css";
@import "@mantine/nprogress/styles.layer.css";

@import "mantine-datatable/styles.layer.css";

@layer tw_base {
    @tailwind base;
}
@tailwind components;
@tailwind utilities;

/**  to properly apply @font-face it must be declared after all components imports **/
/* Poppins Regular */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Poppins Light */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
    font-weight: light;
    font-style: italic;
    font-display: swap;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Poppins Thin*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* Poppins ExtraLight*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Poppins Light*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Poppins Medium*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Poppins SemiBold */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Poppins ExtraBold */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* Poppins Black */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* mantine is not setting defaults for box-shadow on input:focus,
   but tailwind base styles do set, so for mantine focus ring to show properly
   we need to set box-shadow to none for all inputs.
   Tailwind classes when applied will show focus ring correctly */
input:focus,
textarea:focus {
    box-shadow: none;
}

@keyframes fadeIn {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}
